<footer>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>

      </div>
    </div>
  <!-- <p class="footer--copyright">© Copyright 2015 Manuel Mendes</p>  -->
	<div align="center">
	<!-- Teste...1  -->
	<!-- ********   -->
	<!-- Start of StatCounter Code  -->
	<script type="text/javascript">
	var sc_project=10463516; 
	var sc_invisible=0; 
	var sc_security="bf8f9ed6"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript>
	<div class="statcounter"><a title="web stats"
		href="http://statcounter.com/free-web-stats/"
		target="_blank"><img class="statcounter"
		src="http://c.statcounter.com/10463516/0/bf8f9ed6/0/"
		alt="web stats"></a>
	</div>
	</noscript>
	<!-- End of StatCounter Code-->
	<a href="http://statcounter.com/p10463516/?guest=1" target="_blank">View My
	Stats</a>
	<!-- End of StatCounter Code  -->
	<!-- ****  ****   -->
	</div>
		
</footer>


<!--Include Analytics, place your ID code on _config.yml file-->
